.menu {
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu .dropdown-menu {
  display: none;
  background-color: #1b1f2a;
  border: 1px solid #2b3345;
}

.menu .dropdown:hover .dropdown-menu,
.menu .dropdown:focus-within .dropdown-menu {
  display: block;
}

.menu .dropdown-item {
  color: #e6e6e6;
}

.menu .dropdown-item:hover,
.menu .dropdown-item:focus {
  background-color: #2b3345;
  color: #ffffff;
}
