.dictation__btn {
  min-width: 110px;
}

.dictation__btn--save {
  background-color: #dc3545;
  border-color: #dc3545;
}

.dictation__btn--save:disabled {
  background-color: #a5535b;
  border-color: #a5535b;
}
